src/main/mule/cicd1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dbb64212-39e4-48f5-a2e8-eb60a5d84cda" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd1Flow" doc:id="0514e307-1137-48d6-8ac8-2cfcc88646cf" >
		<http:listener doc:name="Listener" doc:id="9b015af3-0e67-463e-bd2a-4dd11b7cb3a9" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["setpayload"]' doc:name="Set Payload" doc:id="fb7dfc5c-3f69-42b5-9310-b01e12e4b5e0" />
	</flow>
</mule>
